<div class="row filter">
    <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="filter by name"
               ng-model="$ctrl.name"
               required
               ng-model-options="{ getterSetter: true }" />
    </div>
    <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="filter by price"
               ng-model="$ctrl.price"
               required
               ng-model-options="{ getterSetter: true }" />
    </div>
    <div class="col-md-4">
        <input type="text"
               class="form-control"
               placeholder="filter by count"
               ng-model="$ctrl.count"
               ng-model-options="{ getterSetter: true }" />
    </div>
</div>
<div class="row header">
    <div class="col-md-4" role="button" ng-click="$ctrl.sort('name')">
        <span>Name</span>
        <i class="fa fa-fw"
           ng-class="{'fa-sort-desc':!$ctrl.reverse, 'fa-sort-asc':$ctrl.reverse}"
           ng-show="$ctrl.sortBy === 'name'"></i>
    </div>
    <div class="col-md-4" role="button" ng-click="$ctrl.sort('price')">
        <span>Price</span>
        <i class="fa fa-fw"
           ng-class="{'fa-sort-desc':!$ctrl.reverse, 'fa-sort-asc':$ctrl.reverse}"
           ng-show="$ctrl.sortBy === 'price'"></i>
    </div>
    <div class="col-md-4" role="button" ng-click="$ctrl.sort('count')">
        <span>Count</span>
        <i class="fa fa-fw"
           ng-class="{'fa-sort-desc':!$ctrl.reverse, 'fa-sort-asc':$ctrl.reverse}"
           ng-show="$ctrl.sortBy === 'count'"></i>
    </div>
</div>